.formWrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 22px;
  border-radius: 6px;
  border: solid 1px #dddfe0;
}

.formHeader{
  padding-top: 21px;
  padding-bottom: 31px;
  margin-bottom: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #3e4757;
  color: #fff;
  text-align: center;
}
.fieldset {
  display: flex;
  border: none;
}

.label {
  margin-bottom: 15px;
  font-size: 17px;
  color: #9299a2;
}

.input {
  margin-bottom: 30px;
  padding-left: 20px;
  width: 610px;
  height: 34px;
  border-radius: 6px;
  background-color: #eef2f7;
  border: none;
}

.input.error {
  border: 1px solid red;
}

.submit {
  width: 206px;
  height: 66px;
  border-radius: 6px;
  border: none;
  background-color: #ffdd2d;
  transition: background-color .3s ease;
  cursor: pointer;
}

.submit:hover:not([disabled]) {
  background-color: #ffcd33;
}

.submit:disabled {
  pointer-events: none;
}

.resultContainer {
  height: 45px;
  margin-bottom: 20px;
  text-align: center;
}

.resultContainer.success {
  opacity: 1;
  color: green;
  animation: zoomIn .5s ease;
}

.resultContainer.error {
  color: red;
  animation: shake 1s ease;
}

.resultContainer.progress {
  animation: pulse 1.5s ease infinite;
  color: blue;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
